.game {
  .game-info {
    font-size: 36px;
    margin: 20px 0;
    text-align: center;
  }
  .board-row {
    margin: 0 auto;
    text-align: center;
    width: 300px;

    &:after {
      clear: both;
      content: "";
      display: table;
    }
  }

  .square {
    background: #fff;
    border: 1px solid #999;
    font-size: 24px;
    font-weight: bold;
    line-height: 100px;
    height: 100px;
    margin-right: -1px;
    margin-top: -5px;
    padding: 0;
    display: inline-block;
    text-align: center;
    width: 100px;
    float: left;
  }

  .square:focus {
    outline: none;
  }
}
